name: Actions

on:
  pull_request:
    paths:
      - .devcontainer/devcontainer.json
      - .github/workflows/**

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    container: ghcr.io/linkerd/dev:v39-action
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just-dev lint-actions

  devcontainer-versions:
    runs-on: ubuntu-latest
    container: ghcr.io/linkerd/dev:v39-action
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - run: just-dev check-action-images
