name: Actions

on:
  pull_request:
    paths:
      - .devcontainer/devcontainer.json
      - .github/workflows/**

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
      - uses: linkerd/dev/actions/setup-tools@v41
      - run: just-dev lint-actions

  devcontainer-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
      - uses: linkerd/dev/actions/setup-tools@v41
      - run: just-dev check-action-images
