name: integration

on:
  pull_request:
    paths:
      - Cargo.toml
      - '**/*.rs'
      - .github/workflows/integration.yml

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  RUST_VERSION: 1.64.0
  K3D_VERSION: v5.4.6
  K3D_CREATE_FLAGS: '--no-lb'
  K3S_DISABLE: 'local-storage,traefik,servicelb,metrics-server@server:*'
  NEXTEST_VERSION: '0.9.42'

jobs:
  test:
    strategy:
      matrix:
        k8s:
          - v1.21
          - v1.25
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      # TODO(ver) Figure out how to use tools from the dev image.
      - name: Install rust
        run: |
          rm -rf "$HOME/.cargo"
          curl --proto =https --tlsv1.3 -fLsSv https://sh.rustup.rs | sh -s -- -y --default-toolchain "${RUST_VERSION}"
          source "$HOME/.cargo/env"
          echo "PATH=$PATH" >> "$GITHUB_ENV"
          cargo version
      - name: Install cargo-nextest
        run: |
          url="https://github.com/nextest-rs/nextest/releases/download/cargo-nextest-${NEXTEST_VERSION}/cargo-nextest-${NEXTEST_VERSION}-x86_64-unknown-linux-gnu.tar.gz" ; \
          curl --proto =https --tlsv1.3 -LsSv "$url" | tar zvxf - -C /usr/local/bin cargo-nextest
      - name: Install dev utils
        run: |
          sha=ca8e6542459ff8225146e72bdcda68eb18aba07a # dev:v39
          cd /usr/local/bin
          for util in cargo k3d ; do
            curl --proto =https --tlsv1.3 -fLsSvO "https://raw.githubusercontent.com/linkerd/dev/$sha/bin/just-$util"
            chmod 755 "/usr/local/bin/just-$util"
          done
      - uses: extractions/setup-just@95b912dc5d3ed106a72907f2f9b91e76d60bdb76
      # Setup a cluster
      - run: curl --proto =https --tlsv1.3 -fLsSv "https://raw.githubusercontent.com/k3d-io/k3d/${K3D_VERSION}/install.sh" | bash
      - run: k3d --version
      - run: just-k3d K8S_VERSION=${{ matrix.k8s }} create
      - run: kubectl version
      # Install CRDs
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          repository: kubernetes-sigs/gateway-api
          ref: 4f86f0bd65173b04dadb558f63fbbd53330736d2 # 0.5.0-rc1
          path: gateway-api
      - run: kubectl apply -k gateway-api/config/crd/experimental/
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      # Run tests
      - run: just fetch
      - run: just test-build --package=integration
      - run: just test --package=integration
